.nav-item {
    margin-right: 1%; 
    margin-left: 1%
}

.nav {
    margin-top: 1%;
}

.tab-content {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

.centerText {
    text-align: center;
}